@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-light" role="alert">
        @TempData["MensagemErro"]
    </div>
}


<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Empréstimo de Livros!</h1>
    <p> Abra um livro, deixe-se levar</p>
    <div>
        <img src="~/img/book.png" alt="Book Image" style="width: 300px;" />
    </div>

</div>
