@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Empréstimo de Livros!</h1>
    <p> Abra um livreo, deixe-se levar</p>
    <div>
        <img scr="/img/book.png"/>
    </div>

</div>
